:root{
--opacity-0:0;
--opacity-5:0.05;
--opacity-8:0.08;
--opacity-12:0.12;
--opacity-16:0.16;
--opacity-22:0.22;
--opacity-28:0.28;
--opacity-35:0.35;
--opacity-43:0.43;
--opacity-52:0.52;
--opacity-61:0.61;
--opacity-74:0.74;
--opacity-88:0.88;
--opacity-97:0.97;
--opacity-100:1;
}
