:root{
--font-family-sans:"Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
--font-weight-regular:400;
--font-weight-medium:500;
--font-weight-bold:600;
--font-weight-bold-display:700;
--typo-display1-size:3.5rem;
--typo-display1-line-height:4.5rem;
--typo-display1-letter-spacing:-0.0319em;
--typo-display1-bold-weight:700;
--typo-display2-size:2.5rem;
--typo-display2-line-height:3.25rem;
--typo-display2-letter-spacing:-0.0282em;
--typo-display2-bold-weight:700;
--typo-display3-size:2.25rem;
--typo-display3-line-height:3rem;
--typo-display3-letter-spacing:-0.027em;
--typo-display3-bold-weight:700;
--typo-title1-size:2rem;
--typo-title1-line-height:2.75rem;
--typo-title1-letter-spacing:-0.0253em;
--typo-title1-bold-weight:700;
--typo-title2-size:1.75rem;
--typo-title2-line-height:2.375rem;
--typo-title2-letter-spacing:-0.0236em;
--typo-title2-bold-weight:700;
--typo-title3-size:1.5rem;
--typo-title3-line-height:2rem;
--typo-title3-letter-spacing:-0.023em;
--typo-title3-bold-weight:700;
--typo-heading1-size:1.375rem;
--typo-heading1-line-height:1.875rem;
--typo-heading1-letter-spacing:-0.0194em;
--typo-heading1-bold-weight:600;
--typo-heading2-size:1.25rem;
--typo-heading2-line-height:1.75rem;
--typo-heading2-letter-spacing:-0.012em;
--typo-heading2-bold-weight:600;
--typo-headline1-size:1.125rem;
--typo-headline1-line-height:1.625rem;
--typo-headline1-letter-spacing:-0.002em;
--typo-headline1-bold-weight:600;
--typo-headline2-size:1.0625rem;
--typo-headline2-line-height:1.5rem;
--typo-headline2-letter-spacing:0em;
--typo-headline2-bold-weight:600;
--typo-body1-size:1rem;
--typo-body1-line-height:1.5rem;
--typo-body1-letter-spacing:0.0057em;
--typo-body1-bold-weight:600;
--typo-body1-reading-size:1rem;
--typo-body1-reading-line-height:1.625rem;
--typo-body1-reading-letter-spacing:0.0057em;
--typo-body1-reading-bold-weight:600;
--typo-body2-size:0.9375rem;
--typo-body2-line-height:1.375rem;
--typo-body2-letter-spacing:0.0096em;
--typo-body2-bold-weight:600;
--typo-body2-reading-size:0.9375rem;
--typo-body2-reading-line-height:1.5rem;
--typo-body2-reading-letter-spacing:0.0096em;
--typo-body2-reading-bold-weight:600;
--typo-label1-size:0.875rem;
--typo-label1-line-height:1.25rem;
--typo-label1-letter-spacing:0.0145em;
--typo-label1-bold-weight:600;
--typo-label1-reading-size:0.875rem;
--typo-label1-reading-line-height:1.375rem;
--typo-label1-reading-letter-spacing:0.0145em;
--typo-label1-reading-bold-weight:600;
--typo-label2-size:0.8125rem;
--typo-label2-line-height:1.125rem;
--typo-label2-letter-spacing:0.0194em;
--typo-label2-bold-weight:600;
--typo-caption1-size:0.75rem;
--typo-caption1-line-height:1rem;
--typo-caption1-letter-spacing:0.0252em;
--typo-caption1-bold-weight:600;
--typo-caption2-size:0.6875rem;
--typo-caption2-line-height:0.875rem;
--typo-caption2-letter-spacing:0.0311em;
--typo-caption2-bold-weight:600;
}
.iris-display1{font-size:var(--typo-display1-size);line-height:var(--typo-display1-line-height);letter-spacing:var(--typo-display1-letter-spacing);}
.iris-display2{font-size:var(--typo-display2-size);line-height:var(--typo-display2-line-height);letter-spacing:var(--typo-display2-letter-spacing);}
.iris-display3{font-size:var(--typo-display3-size);line-height:var(--typo-display3-line-height);letter-spacing:var(--typo-display3-letter-spacing);}
.iris-title1{font-size:var(--typo-title1-size);line-height:var(--typo-title1-line-height);letter-spacing:var(--typo-title1-letter-spacing);}
.iris-title2{font-size:var(--typo-title2-size);line-height:var(--typo-title2-line-height);letter-spacing:var(--typo-title2-letter-spacing);}
.iris-title3{font-size:var(--typo-title3-size);line-height:var(--typo-title3-line-height);letter-spacing:var(--typo-title3-letter-spacing);}
.iris-heading1{font-size:var(--typo-heading1-size);line-height:var(--typo-heading1-line-height);letter-spacing:var(--typo-heading1-letter-spacing);}
.iris-heading2{font-size:var(--typo-heading2-size);line-height:var(--typo-heading2-line-height);letter-spacing:var(--typo-heading2-letter-spacing);}
.iris-headline1{font-size:var(--typo-headline1-size);line-height:var(--typo-headline1-line-height);letter-spacing:var(--typo-headline1-letter-spacing);}
.iris-headline2{font-size:var(--typo-headline2-size);line-height:var(--typo-headline2-line-height);letter-spacing:var(--typo-headline2-letter-spacing);}
.iris-body1{font-size:var(--typo-body1-size);line-height:var(--typo-body1-line-height);letter-spacing:var(--typo-body1-letter-spacing);}
.iris-body1-reading{font-size:var(--typo-body1-reading-size);line-height:var(--typo-body1-reading-line-height);letter-spacing:var(--typo-body1-reading-letter-spacing);}
.iris-body2{font-size:var(--typo-body2-size);line-height:var(--typo-body2-line-height);letter-spacing:var(--typo-body2-letter-spacing);}
.iris-body2-reading{font-size:var(--typo-body2-reading-size);line-height:var(--typo-body2-reading-line-height);letter-spacing:var(--typo-body2-reading-letter-spacing);}
.iris-label1{font-size:var(--typo-label1-size);line-height:var(--typo-label1-line-height);letter-spacing:var(--typo-label1-letter-spacing);}
.iris-label1-reading{font-size:var(--typo-label1-reading-size);line-height:var(--typo-label1-reading-line-height);letter-spacing:var(--typo-label1-reading-letter-spacing);}
.iris-label2{font-size:var(--typo-label2-size);line-height:var(--typo-label2-line-height);letter-spacing:var(--typo-label2-letter-spacing);}
.iris-caption1{font-size:var(--typo-caption1-size);line-height:var(--typo-caption1-line-height);letter-spacing:var(--typo-caption1-letter-spacing);}
.iris-caption2{font-size:var(--typo-caption2-size);line-height:var(--typo-caption2-line-height);letter-spacing:var(--typo-caption2-letter-spacing);}
.iris-regular{font-weight:400}.iris-medium{font-weight:500}.iris-bold{font-weight:600}.iris-display1.iris-bold,.iris-display2.iris-bold,.iris-display3.iris-bold,.iris-title1.iris-bold,.iris-title2.iris-bold,.iris-title3.iris-bold{font-weight:700}
